@import url('https://fonts.googleapis.com/css2?family=Maven+Pro:wght@500&family=Poppins&family=Titillium+Web&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: solid 2px #ee0ca3; */
}

body{
    background-color: var(--white-color);
    font-family: Titillium Web, Arial, Helvetica, sans-serif;
}

:root {
    --red-color: #E10600;
    --white-color: #FFFFFF;
    --black-color: #000000;
    --grey-blue: #15151E;
    --grey-color: #38383F;
    --grey-light: #999999;
    --grey-verylight: #ebebeb;
  }

/* Root: revisar */
#root {
    overflow: auto;
    width: 100vw;
    height: 90vh;
}

/* Home */
/* .container {
    background-color: rgba(3, 255, 255, 0.539); 
} */


.header {
    display: flex;
    align-items: center;
    background-color: var(--white-color);
    height: 10vh;
    padding: 5px;
}

.logo-f1 {
    margin-left: 20px;
    width: 130px;
    height: 38px;
    cursor: pointer;
}

.title {
    margin: auto;
    color: var(--red-color);
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}

.subtitle {
    color: var(--grey-color);
    text-align: center;
    font-size: 28px;
}

.computeStats {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--grey-light);
    color: var(--white-color);
    text-align: center;
    font-size: 18px;
} 

/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red-color);
    color: var(--white-color);
    font-size: 18px; 
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4rem; 
} 

/* Cards */
ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
  }

.list { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.root-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 250px;
    margin: 43px; 
    overflow: hidden;
    color: var(--white-color);
    background-color: var(--grey-blue);
    box-shadow: 0px 2px 4px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    cursor: pointer;
}

[itemscope] img {
    width: 80%;
    height: auto;
    margin: auto;
    margin-top: 25px;
}

[itemprop="name"] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 35px;
    font-weight: bolder;
    background-color: var(--grey-color);
    padding: 1px;
    font-size: 18px;
}

[itemprop="placeOfBirth"] {
    font-size: 16px;
}

[itemprop="podiums"] {
    font-size: 16px;
}

[itemprop="lastTeam"] {
    font-weight: bold;
    color: var(--red-color);
    font-size: 16px;
}


/* Navbar */
.navbar{
    display: flex; 
    justify-content: space-around; /* Revisar */
    align-items: center; 
    background: var(--red-color);
    padding: 10px;
}

.navbar label {
    color: var(--white-color);
    margin-right: 5px;
    font-size: 18px;
}

.navbar select {
            background-color: var(--red-color);
            width: 160px;
            height: 30px;
            color: var(--white-color);
            margin-right: 20px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            font-weight: bold;
        }

[data-testid="button-clear"] {
            background-color: var(--red-color);
            color: var(--white-color);
            width: 140px;
            height: 30px;
            border-radius: 10px;
            border-color: #ffffff7f;
            cursor: pointer;
            align-items: center;
            margin-left: 20px;
            font-size: 18px;
            font-weight: bold;
        }

[data-testid="button-clear"]:hover {
    box-shadow: 1px 1px 4px 4px rgba(255, 255, 255, 0.184);
    font-weight: bold;
}


/* Componente Nav */
.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--red-color);
    padding: 10px; 
    top: 0;
    position: absolute;
    width: 100vw;
    height: 10vh;
}

.logoWhite {
    margin-left: 20px;
    width: 120px;
    height: 35px;
    cursor: pointer;
}

.elementNav {
    margin-right: 20px;
}

.panelButton {
    background-color: #ffffff4c;
    color: var(--white-color);
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
}

.panelButton:hover {
    box-shadow: rgba(255, 255, 255, 0.515) 0px 0px 1px 1px;
    font-weight: bold;
}

.apikeyButton {
    background-color: var(--grey-blue);
    color: var(--white-color);
    width: 140px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.apikeyButton:hover {
    box-shadow: rgba(255, 255, 255, 0.515) 0px 0px 1px 1px;
    font-weight: bold;
}

/* Error 404 Page */
.containerError {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--grey-blue);
    width: 100vw;
    height: 100vh;
}

.titleError{
    text-align: center;
    color: var(--white-color);
    font-size: 60px;
}

.subtitleError{
    text-align: center;
    color: var(--white-color);
    font-size: 50px;
}

.textMessage {
    width: 850px;
    text-align: center;
    color: var(--white-color);
    font-size: 20px;
    margin-top: 15px;
}

.errorButton {
    background-color: var(--red-color);
    color: var(--white-color);
    border-color: var(--white-color);
    font-size: 18px;
    border-radius: 15px;
    width: 250px;
    margin-top: 30px;
    cursor: pointer;
}

.errorButton:hover {
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.394);
    font-weight: bold;
}

/* Page Pilot */
.containerPilot{
    background-color: chartreuse;
    margin-top: 5vh;
}

.contentChat {
    background-color: var(--white-color);
}

.pilotInfo {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.chatImgPilot {
    width: 90px;
    height: 90px;
    border-radius: 100px;
}

/* Revisar como darle estilo al nombre del
   piloto y su descripción corta 
 */

.boxMessage {
    overflow-y: scroll;
    background-color: var(--grey-verylight);
    width: 100vw;
    height: 338px;
}

.buttonMessage {
    display: flex;
}

[name="boxchat"] {
    width: 100vw;
    height: 50px;
    border: none;
    background-color: var(--white-color);
}

[placeholder="Mensaje"] {
    font-size: 18px;
}

.buttonSend {
    width: 10%;
    background-color: var(--grey-blue);
    color: var(--white-color);
    font-size: 18px; 
    border-top-left-radius: 10px;
}

.buttonSend:hover {
    font-size: 20px;
    color: var(--red-color);
}

/* Panel Page */
.contentChatGroup {
    background-color: blueviolet;
    display: flex;
    width: 100%;
    height: 100vh;
}

.divContainerPilot {
    background-color: cadetblue;
    width: 60%;
    height: 60vh;
    margin-top: 10vh;
}

.divChatOnPilot {
    background-color: var(--grey-verylight);
    width: 40%;
}
    

.messageChatOnPilot {
    overflow-y: scroll;
    background-color: var(--grey-verylight);
    height: 70vh;
}

.contentInputButton {
    display: flex;
    
    
    
}

.inputChatOnPilot {
    width: 80%;
    border: none;
    background-color: var(--white-color);
}

.buttonChatOnPilot {
    width: 20%;
    height: 50px;
    background-color: var(--grey-blue);
    color: var(--white-color);
    font-size: 18px; 
    border-top-left-radius: 10px;
}

/*Vista ApiKey*/ 
.containerApikey {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
   
}

 .contentApiKey {
    display: flex;
    flex-direction: column;   
} 

.apiKeyText {
    font-size: 28px;
    text-align: center;   
}

.apiKeyInput {
    width: 500px;
    height: 45px;
    padding: 10px;
    border: 1px solid var(--grey-light);
    border-radius: 8px;
    font-size: 18px;
    margin-top: 25px;
    
}

.apiKeyButtons {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.apiKeyButtonSave {
   background-color: var(--red-color);
    color: var(--white-color);
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
    margin-right: 20px;
}

.apiKeyButtonSave:hover {
    box-shadow: rgba(0, 0, 0, 0.542) 0px 0px 1px 1px;
    font-weight: bold;
}

.apiKeyButtonDelete {
    background-color: var(--grey-blue);
    color: var(--white-color);
    width: 180px;
    height: 30px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

.apiKeyButtonDelete:hover {
    box-shadow: rgba(255, 0, 0, 0.542) 0px 0px 1px 1px;    
    font-weight: bold;
}

/* Media Querys*/ 
@media screen and (max-width: 600px){
    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
    }

    .computeStats {
        height: auto;
    } 

}
